# Lektion 2
Lernziele:
- Du kannst einfache Operationen mit Text machen
- Du weisst was ein Datentyp ist, wie man den Datentypen von Variablen verändert und was man dabei beachten musst
- Du weisst, was eine Funktion ist und wie man sie aufruft
- Du kannst Programme schreiben, welche mit den Anwender:innen interagieren.

## 1. Mit Text arbeiten
Wir können in Python auch mit Text arbeiten. Man bezeichnet Text als Zeichenketten, oder auf Englisch "strings". Einen String umgeben wir mit Gänsefüsschen: `"`.

In [4]:
"Hallo, ich bin eine Zeichenkette"

'Hallo, ich bin eine Zeichenkette'

In [5]:
a

'Hallo, ich bin eine Zeichenkette'

Wir können strings natürlich auch in Variablen speichern.

In [6]:
text = "Hallo, ich bin Text"
text = """
Hallo
ich bin Text
und auf mehreren Zeilen verteilt.
"""
print(text)

Hallo
ich bin Text
und auf mehreren Zeilen verteilt.

In [ ]:
begruessung = "Hallo, ich bin eine Zeichenkette"
begruessung

Wir können sogar Texte mit `+` zusammensetzen:

In [ ]:
wort1 = "Hallo"
wort2 = "Welt"

wort1 + " " + wort2

Oder sie multiplizieren (um sie zu wiederholen):

In [ ]:
wort = "hallo"
wort * 3

Hier eine nützliche Verwendung:

In [ ]:
ta = "ta"
batman = "batman"
ta * 16 + " " + batman

<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

**Aufgabe**:

Setze folgende Wörter zu einem Satz zusammen, getrennt durch Leerzeichen.

In [11]:
wort1 = "Hallo,"
wort2 = "wie"
wort3 = "heisst"
wort4 = "du?"

print (wort1 + " " + wort2 + " " + wort3 + " " + wort4)

Hallo, wie heisst du?

<br><br><br><br><br><br><br>

## 2. Datentypen
### 2.1 Wieso Datentypen?
Der Datentyp eines Objekts sagt uns, ob ein Objekt z.B. Text oder eine Zahl enthält. Er legt auch fest, welche Operationen man mit einem Objekt machen kann.

Beispiel: Minus ist definiert für Zahlen.

In [12]:
3 - 1

2

Wenn wir aber Texte minus-rechnen wollen, erhalten wir folgenden Fehler:

In [ ]:
"hallo" - "nim mich weg"

Der Fehler sagt uns: Die Operation - ist für die Datentypen `str` und `str` nicht unterstützt. Wir können die Berechnung also nicht machen.

### 2.2 Welche Datentypen gibt es?
Es gibt in Python zahlreiche Datentypen, wir können sogar unsere eigenen Typen definieren. Bis jetzt haben wir folgende Typen angetroffen:
- Für ganze Zahlen: `int`
- Für Zahlen mit Kommastellen: `float`
- Für Text: `str`

Um den Datentypen herauszufinden, brauchen wir eine sogenannte Funktion namens `type`. Die Funktion verwenden wir wie folgt:

In [13]:
# Ganze Zahlen haben Typ "integer"
type(-1)

int

In [14]:
# Zahlen mit Kommastellen haben typ "float"
type(0.5)

float

In [15]:
# Zeichenketten haben Typ "str"
type("hallo")

str

In [17]:
a = 1.1
type(a)

float

In [18]:
7 / 2

3.5

Wieso gibt es unterschiedliche Datentypen für Zahlen mit und ohne Komma? Der Computer muss die Zahl mit einem begrenzten Speicherplatz abspeichern. Wenn wir wissen, dass es keine Nachkommastelle gibt, können wir dies effizienter machen (und einfach hochzählen).

`float` vs. `int`: In gewissen Fällen kommt es drauf an. Als Beispiel: Wenn wir Text mit einer Zahl multiplizieren, ist dies nur möglich, wenn die Zahl eine `int` ist - schliesslich macht es keinen Sinn, einen Text 2.5 mal zu wiederholen. Wir erhalten folgenden Fehler:

In [ ]:
"hallo" * 2.4

Wir können die Textsequenz also nicht mit "nicht-ints" multiplizieren. Dies gilt auch, wenn die float keine Nachkommastellen hat:

In [19]:
"hallo" * 3

'hallohallohallo'

### 2.3 Datentyp umwandeln
Stell dir vor, wir wollen eine Zahl in einen Text integrieren. Wir haben gesehen, dass wir Textketten mit `+` zusammenhängen können. Funktioniert dies auch mit Zahlen?

In [20]:
alter = 48
#"Hallo, ich bin " + alter + " Jahre alt"

Nein, ein Zusammenhängen (Englisch: "concatenate") von `str` und `int` ist nicht möglich. Daher müssen wir die Zahl zuerst in eine `str` konvertieren. Dies machen wir wie folgt:

In [21]:
# Umwandlung von int zu str
alter_as_str = str(alter)

# Welcher Typ hat die neue Variable?
type(alter_as_str)

str

Nun können wir das konvertierte Alter in den Text einfügen:

In [22]:
"Hallo, ich bin " + alter_as_str + " Jahre alt"

'Hallo, ich bin 48 Jahre alt'

Wir müssen dazu übrigens nicht zwingend eine neue Variable erstellen, sondern das Alter direkt konvertieren:

In [ ]:
"Hallo, ich bin " + str(alter) + " Jahre alt"

**Konversion `float` zu `str`**

Vorher haben wir eine `int` zu einer `str` umgewandelt. Wir können genau gleich `float` zu `str`-Objekten ändern:

In [1]:
some_float = 3.5
float_as_str = str(some_float)
type(float_as_str)
float_as_str

'3.5'

In [24]:
some_float

3.5

Da die Zahl aber jetzt ein `str`-Objekt ist, können wir auch nur noch Operationen für Strings verwenden. Man kann also nicht mehr damit rechnen, wie man es mit Zahlen kann:

In [25]:
float_as_str + 5

TypeError: can only concatenate str (not "int") to str

In [26]:
5 + float_as_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Und eine Multiplikation mit einer `int` wird interpretiert wie immer bei `str`-Objekten: Sie wird zu einer Wiederholung.

In [27]:
float_as_str * 5

'3.53.53.53.53.5'

**Konversion `float` zu `int`**

Konvertiert man `float` zu `int`, kann die Informationen nach dem Komma nicht mehr gespeichert werden. Die Zahl wird abgerundet:

In [28]:
some_float = 3.5
int(some_float)

3

In [29]:
int(2.999)

2

In [33]:
round(5.5)

6

In [31]:
int(0.9)

0

**Konversion `str` zu `int` und `float`**

In gewissen Fällen kann man auch einen Text zu einer Zahl umwandeln. Dies geht aber nur, wenn der Text nur aus einer Zahl besteht.

In [35]:
text = "3"
text_als_zahl = int(text)
text_als_zahl

3

Nun kann man mit der Zahl weiterrechnen wie für eine normale Zahl:

In [36]:
text_als_zahl + 5

8

Zuvor war dies nicht möglich:

In [ ]:
text + 5

Wenn der Text nicht als Zahl interpretiert werden kann, gibt es folgenden Fehler:

In [38]:
text = "abc5"
int(text)

ValueError: invalid literal for int() with base 10: 'abc5'

ValueError bedeutet immer, dass der gegebene Wert nicht zulässig war. "abc5" ist nicht eine zulässige Zeichenkette ("valid literal") für die Funktion `int`.

Enthält die Zahl im `str` ein Komma (`.`), kann dieser zu einer `float`, nicht aber zu einer `int` umgewandelt werden.

In [39]:
text = "3.15"
float(text)

3.15

In [ ]:
#int(float(text)) # wandle "3.15" um zu 3.15 und dann zu 3
text_as_float = float(text)
text_as_int = int(text_as_float)
print(text_as_int)

<br><br><br>
<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

**Aufgabe**:

Welche der folgenden Typenkonversionen sind zulässig, welche nicht? Was ist das Resultat?

```python

float(3.15)
int(3.15)
str(3.15)

float("3.15")
int("3.15")
str("3.15")

float(3)
int(3)
str(3)
```

In [52]:
str(3)

'3'

1. Float (3.15 geit)
2. int(3.15) ned
3. ja

1. nei
2. nei
3. ja

1. ja
2. ja
3. ja

<br><br><br>
<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

**Aufgabe**:

Welche der folgenden Operationen sind zulässig, welche nicht? Was ist das Resultat?

```python

"Heute ist der " + 18 + " August" # nei
str(3.15) * 5 # ja
str(1.25) * 5.0 # nei
```

In [57]:
str(1.25) * 5

'1.251.251.251.251.25'

<br><br><br><br>
## 3. Verwendung von Funktionen

Im Teil zu den Datentypen haben wir erste Funktionen verwendet: Als wir den Typ eines Objekts überprüft haben mit `type(3.15)`, aber auch bei der Konversion von Datentypen wie z.B. `str(3.15)`. 

Funktionen sind Hilfsmittel, welche teilweise schon für uns geschrieben wurden (wie `type` und `str`), aber auch durch uns definiert werden können (dazu später mehr). Funktionen werden aufgerufen, indem wir den Funktionsname gefolgt von `(...)` verwenden. Zwischen den Klammern kommen die "Argumente". Je nach Funktion kann sie mit keinem, einem oder mehreren Argumenten aufgerufen werden. Wenn eine Funktion mehrere Argumente erhält, werden diese durch ein Komma getrennt. Beispiele:

```python
funktionsname()  # ohne Argument
funktionsname(argument1)  # ein Argument
funktionsname(argument1, argument2, argument3) # mehrere Argumente
```

Ohne Klammern wird die Funktion nicht aufgerufen (sondern einfach der Name angezeigt):

In [58]:
type

type

Wenn wir eine Funktion nicht mit der richtigen Anzahl an Argumenten aufrufen, erhalten wir einen Fehler:

In [59]:
type()

TypeError: type() takes 1 or 3 arguments

Die Funktion `type` erwartet also 1 oder 3 Argumente.

Die meisten Funktionen (wie `type`, `str`, `float` und `int`) berechnen ein Resultat und geben dies zurück. In diesem Fall kann das Resultat wieder in einer Variable gespeichert werden:

In [ ]:
my_number = 3.15
int(my_number)   #Hier wird der neue Wert nicht gespeichert
print(my_number)

my_number = 3.15
my_number = int(my_number) # Hier wird der neue Wert der Variabel zugewiesen
print(my_number)

my_number = 3.15
my_int_number = int(my_number) # Hier wird der neue Wert einer neuen Variabel zugewiesen
print(my_number)
print(my_int_number)

Oder gleich weiterverwendet werden:

In [ ]:
3 + int(3.15)

Wir können auch das Resultat einer Funktion der nächsten Funktion übergeben:

In [ ]:
str(int(3.15))

my_value = 3.15
my_int = int(my_value)
my_string = str(my_int)
my_string

Genauso können wir im Funktionsargument Berechnungen machen. Dabei wird es immer von innen nach aussen aufgelöst. Beispiel:

```python

my_value = 5 + 2.5
str(my_value)


str(5 + 2.5)
str(7.5)
"7.5"
```

<br><br><br>
<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

**Aufgabe**:

Was ist das Resultat folgender Ausdrücke? Ersetze die Berechnungen Schritt für Schritt von innen nach aussen:

```python
# a
"Anteil Bilanzsumme UBS an BIP: " + str((1600 / 800) * 100) + "%" # 200%

# b
a = 2.5
str(3 + a) # 5.5

# c
type(str(int(3.25 * (1 + 2)))) #str
```

In [61]:
a = 2.5
str(3 + a)

'5.5'

<br><br><br><br><br><br><br>


## 4. User-Interaktionen

Wenn wir wissen wollten, was in einer Variable gespeichert oder das Resultat eines Ausdrucks war, haben wir bis jetzt immer das Resultat einer Code-Zelle angeschaut. Wenn wir komplexeren (und v.a. längeren Code) schreiben wollen, wollen wir aber auch Zwischenresultate ausgeben können. 

Gleichzeitig mussten wir bis jetzt immer alle Variablen *im Code* selbst definieren. Wenn wir aber Software schreiben wollen, womit Leute interagieren können, wollen wir ihnen nicht Zugriff auf den Code geben um da selbstständig Variablen anders zu definieren. Stattdessen wollen wir ihren Input abfragen, diesen verarbeiten und dann zurückgeben. 

Diese zwei Arten von Interaktionen, Eingabe und Ausgabe, schauen wir in diesem Unterkapitel an.


### 4.1 Ausgabe: `print`
Wenn wir den Wert einer Variable oder eines Ausdrucks ausgeben wollen, können wir dies mit der Funktion `print` tun. Wir können sowohl `int`, `float`, und `str` Werte ausgeben:

In [ ]:
print('hello world')
print(123)
print(1.0)

Zum Vergleich: Ohne `print` würden wir nur den letzten Wert sehen.

In [ ]:
'hello world'
123
1.0

Ebenso können wir auch Variablen ausgeben:

In [62]:
vorname = 'Hans'
print(vorname)

Hans

Wir können mehrere Variablen und andere Werte zusammen ausgeben, indem wir sie mit einem Komma trennen. Dadurch rufen wir die Funktion mit mehreren Argumenten auf.

In [65]:
print(vorname, 'ist',25, 'Jahre alt')

Hans ist 25 Jahre alt

Dazu mussten wir auch die Zahlen nicht mit `str` zu einer Zeichenkette formattieren, was dies sehr angenehm macht. Wir können aber weiterhin auch Zeichenketten mit `+` zusammenhängen:

In [66]:
print(vorname + " Muster")

Hans Muster

`print` ist ein Beispiel für eine Funktion, welches kein Resultat zurückgibt. Folgender Ausdruck zeigt zwar "Hans Muster" an, da die `print` Funktion aufgerufen wurde:

In [67]:
resultat = print(vorname + " Muster")

Hans Muster

In der Variable `resultat` wurde aber nichts gespeichert, da `print` nichts zurückgibt.

In [68]:
resultat  # da ist nichts drin

### 4.2 Benutzereingaben: `input`

Damit Benutzer etwas in unser Programm eingeben können, verwenden wir die Funktion `input`. 

Wenn wir `input()` ohne Argumente aufrufen, wartet das Programm, bis die Benutzer:in etwas eingibt. Der eingegebene Text wird zurückgegeben (und kann in einer Variable gespeichert werden). Beispiel:

In [74]:
Wahrheit = input()

In [75]:
Wahrheit

'test'

Die Benutzereingabe ist nun in der Variable `name` gespeichert, und kann nun weiterverarbeitet werden. Zum Beispiel mit:

In [76]:
print("Hallo", name)

Hallo hallo

Wenn wir `input` als Argument einen Text übergeben, wird dieser angezeigt:

In [77]:
name = input("Hallo, wie heisst du?")

Und wir können wieder genau gleich die neu definierte Variable weiterverwenden:

In [78]:
print("Hallo", name)

Hallo Ardit

### 4.3 Weiterverarbeitung von Strings als Zahlen
Die Funktion `input()` gibt immer ein Objekt vom Typ `str` zurück - auch wenn eine Zahl eingegeben wurde. Wenn wir eine Zahl abfragen und damit weiterrechnen wollen, müssen wir (wie zuvor gelernt) den Datentyp unwandeln. Hier wird dies in einem Programm gemacht:

In [ ]:
# Abfrage mit input
answer = input('In welchem Jahr bist du geboren? ')

# Wir konvertieren den str zu einer ganzen Zahl (int)
birth_year = int(answer)

# Nun können wir damit rechnen:
age = 2024 - birth_year

# Und das Resultat zurückgeben
print('Du wirst im Jahr 2024', age, 'Jahre alt.')

Wenn wir diese Umwandlung nicht machen, erhalten wir einen Fehler:

In [ ]:
# Abfrage mit input
answer = input('In welchem Jahr bist du geboren? ')

# Wir rechnen direkt mit der Antwort, ohne Umrechnung --> gibt Fehler!
age = 2023 - answer

# Rückgabe des Resultats
print('Du wirst im Jahr 2023', age, 'Jahre alt.')

<br><br><br><br><br>

<div class="exercise">

<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

<span class="exercise_label">Aufgabe:</span>

Schreibe einen einfachen Rechner, der zwei Zahlen einliest und deren Summe ausgibt.
 - Das Programm sagt "Gib eine erste Zahl ein"
 - Benutzer:in gibt eine Zahl ein
 - Das Programm sagt "Gib eine zweite Zahl ein"
 - Benutzer:in gibt eine Zahl ein
 - Das Programm sagt "Die Summe ist: " und gibt die Summe aus

</div>

In [85]:
erstezahl = float(input("erste zahl"))
zweitezahl = float(input("zweite zahl"))

loesung = erstezahl + zweitezahl

print(loesung)

10.0