## 1. Listen
Bis jetzt haben wir folgende Datenstrukturen kennengelernt: Für Zahlen `float` und `int`, für das Resultat von logischen Operationen `bool` und für Zeichenketten `str`. In diesem Kapitel lernen wir einen weiteren, sehr wichtigen Datentypen kennen: Listen. 

Listen dienen dazu, mehrere Elemente in einer definierten Reihenfolge abzuspeichern. Sie kommen in fast jedem Programm zum Einsatz: Auf einer Webseite können wir alle Nutzernamen als Liste abspeichern; in einer Datenbank einer Bibliothek alle Bücher; in einem Webshop alle Kleidungsartikel; und so weiter. Der Objekttyp für Listen in Python heisst `list`. Eine `list` kann beliebige andere Elemente enthalten: Wir können zum Beispiel Listen von `float`-Zahlen oder `str`-Objekten haben, oder auch verschiedene Datentypen mischen. 

### 1.1 Eine Liste erstellen
Wir können eine Liste mit folgender Syntax erstellen:

In [11]:
eine_liste = [1, 2, 3, 4]

Wir können diese Liste wie andere Variablen anzeigen:

In [12]:
eine_liste

[1, 2, 3, 4]

Oder mit `print`:

In [13]:
print(eine_liste)

[1, 2, 3, 4]

Eine leere Liste erstellen wir wie folgt:

In [14]:
leere_liste = []
leere_liste  # Anzeige

[]

Wir können in unserer Liste unterschiedliche Datentypen mischen:

In [15]:
gemischte_liste = [1, "hallo", 5.2, True]
gemischte_liste

[1, 'hallo', 5.2, True]

Wir können ausserdem mit der Funktion `list` Datentypen in Listen umwandeln. Wenn wir eine `str` in eine `list` umwandeln, erstellt es eine Liste aller Buchstaben:

In [76]:
list("hallo welt")

['h', 'a', 'l', 'l', 'o', ' ', 'w', 'e', 'l', 't']

Wir können auch eine `range` in eine Liste umwandeln. Folgender Code erzeugt eine Liste aller Zahlen von 0 bis 5:

In [78]:
list(range(5))

[0, 1, 2, 3, 4]

### 1.2 Auf ein Element der Liste zugreifen
Die Indizierung von Listen funktioniert gleich wie diejenige von Zeichenketten. Auf das erste Element greifen wir z.B. wie folgt zu:

In [16]:
eine_liste[0]

1

Auf das letzte Element so:

In [17]:
eine_liste[-1]

4

Wir können mit `:` auch einen Teil der Liste extrahieren:

In [18]:
eine_liste[1:3]

[2, 3]

Und mit zwei `:` nur jedes zweite Element nehmen:

In [19]:
eine_liste[::2]

[1, 3]

### 1.3 Operatoren für Listen
Wir können Listen wie Strings mit `+` konkatenieren:

In [23]:
liste1 = [1, 2, 3]
liste2 = [4, 5, 6]
liste1 + liste2

[1, 2, 3, 4, 5, 6]

Und durch die Multiplikation mit einer `int` mehrmals wiederholen:

In [25]:
liste1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Und sie mit `==` vergleichen:

In [26]:
liste1 == liste2

False

Wichtig: Listen sind sortiert (auf Englisch **ordered**), es kommt beim Vergleich auf die Reihenfolge drauf an:

In [9]:
[1, 2, 3] == [3, 2, 1]

False

Mit `in` können wir überprüfen, ob ein Element in einer Liste enthalten ist:

In [27]:
3 in liste1

True

In [28]:
3 in liste2

False

### 1.4 Funktionen für Listen
Mit der vordefinierten Funktion `len` können wir (wie bei Strings) die Länge einer Liste bestimmen:

In [30]:
len(liste1)

3

Es gibt aber noch andere vordefinierte Funktionen:

`min` und `max` geben das kleinste bzw. grösste Element einer Liste zurück:

In [31]:
min(liste1)

1

In [32]:
max(liste1)

3

`sum` zählt alle Elemente der Liste zusammen:

In [33]:
sum(liste1)

6

Und `sorted` gibt die Liste der grösse nach sortiert zurück:

In [39]:
sorted(liste1)

[1, 2, 3]

### 1.5 "immutable" vs. "mutable"
In Python unterscheiden wir zwischen Objekten, welche veränderbar sind (auf englisch: "mutable"), und solchen, welche nicht veränderbar sind ("immutable"). Dabei sind Strings nicht veränderbar, Listen schon. Was bedeutet das?

Wir können in Listen einzelne Elemente austauschen:

In [51]:
beispiel_liste = ["a", "b", "c"]
beispiel_liste

['a', 'b', 'c']

In [52]:
beispiel_liste[1] = "d"  # wir ersetzen das zweite Element mit dem Wert "d"
beispiel_liste

['a', 'd', 'c']

Bei Strings ist dies nicht erlaubt:

In [53]:
beispiel_str = "abc"
beispiel_str[1] = "d"

TypeError: 'str' object does not support item assignment

Wenn wir bei Strings einen Buchstaben austauschen wollen, müssen wir immer ein neues Objekt erzeugen. Dies machen wir zum Beispiel mit `replace`:

In [54]:
beispiel_str.replace("b", "d")  # wir erzeugen ein neues Objekt

'adc'

Der Wert des alten Objekts bleibt aber unverändert:

In [55]:
beispiel_str

'abc'

Ob ein Objekt veränderbar ist oder nicht, ist insbesondere relevant, wenn wir es einer Funktion übergeben. Schaue dir folgendes Beispiel an:

In [57]:
def eine_funktion(eine_liste):
    eine_liste[2] = 5

beispiel_liste = [1, 2, 3, 4, 5]
eine_funktion(beispiel_liste)

Was denkst du, ist jetzt der Wert von `beispiel_liste`?

In [58]:
beispiel_liste

[1, 2, 5, 4, 5]

Wir sehen, die Liste, welche ausserhalb der Funktion definiert wurde, konnte innerhalb der Funktion verändert werden. Dies ist nur möglich, weil Listen veränderbare Objekte sind.

### 1.6 Methoden von Listen
Wie bei `str`-Objekten gibt es auch für Listen nützliche Methoden.

`count` gibt zurück, wie häufig ein Element in der Liste vorkommt:

In [42]:
liste1.count(1)

1

Und `index` gibt den ersten Index zurück, an dem ein gesuchter Wert ist (ähnlich wie `find` für Strings):

In [45]:
liste1.index(2)  # gibt den ersten Index zurück, in dem der Wert 2 ist

1

Wenn ein Element nicht in der Liste enthalten ist, entsteht ein `ValueError`:

In [47]:
liste1.index(5)

ValueError: 5 is not in list

Ausserdem gibt es zahlreiche Methoden, welche die Liste selbst verändern. All diese Methoden geben nichts zurück (also "None"). Wenn wir aber danach nachschauen, was in der Liste enthalten ist, sehen wir, dass sie verändert wurde. Ein wichtiges Beispiel ist `append`, welches ein neues Element hinten an die Liste anhängt:

In [62]:
neue_liste = [1, 2, 3]
neue_liste.append(4)
neue_liste

[1, 2, 3, 4]

Man sagt auch, dass die Methode `append` die Liste "in-place" verändert. Dies ist nur möglich, weil Listen veränderbare ("mutable") Objekte sind.

Man kann die Liste auch mit `reverse` umdrehen:

In [63]:
neue_liste.reverse()
neue_liste

[4, 3, 2, 1]

Und mit `sort` sortieren:

In [64]:
neue_liste.sort()
neue_liste

[1, 2, 3, 4]

Mit `remove` können wir Elemente entfernen. Dabei wird der mitgegebene Wert gesucht, und der erste entsprechende Eintrag gelöscht:

In [65]:
neue_liste2 = [1, 2, 3, 1, 2, 3]
neue_liste2.remove(2)
neue_liste2

[1, 3, 1, 2, 3]

Bei all den Methoden, welche die Liste "in-place" verändern, muss man etwas aufpassen: Führen wir die Code-Zelle mehrmals aus, wird die Liste immer wieder verändert.

In [69]:
neue_liste.append(3)
neue_liste

[1, 2, 3, 4, 3, 3, 3, 3]

### 1.7 Durch Listen iterieren
Wie bei Strings können wir mit `for`-Loops auch schrittweise durch Listen durchiterieren. Dies sieht wie folgt aus:

In [70]:
beispiel = ["a", "b", "c"]
for element in beispiel:
    print(element)

a
b
c

<br><br><br><br><br>
<div class="exercise">

<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

<span class="exercise_label">**Aufgabe:**</span>

Schreibe eine Funktion, welche aus einer Liste eine neue Liste macht, welche nur die geraden Zahlen enthält. 

Beispiel: 
`[1, 4, 5, 2]` wird zu `[4, 2]`

</div>

<div class="exercise">

<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

<span class="exercise_label">**Aufgabe:**</span>

Wie können wir mit einem `while`-Loop durch eine Liste iterieren? Iteriere mit einem `while`-Loop durch die Liste `[1, 2, 3]` und gib mit `print` jedes Element aus.

</div>

### 1.8 Listen von Listen (... von Listen)

Wie erwähnt können Listen beliebige Arten von Elementen enthalten. Insbesondere können Listen auch weitere Listen enthalten. Dadurch können wir beispielsweise Tabellen abspeichern. Hier ein Beispiel:

In [71]:
tabelle = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

Wie können wir nun auf den dritten Eintrag in der zweiten Zeile zugreifen?

Wir müssen dazu das Objekt zweimal indizieren. Mit `tabelle[1]` erhalten wir die ganze zweite Zeile:

In [72]:
tabelle[1]

[4, 5, 6]

Um nun das dritte Element dieser Zeile zuzugreifen, schreiben wir folgendes:

In [73]:
tabelle[1][2]

6

## 2. Tuples

Tuples sind eine weitere wichtige Datenstruktur. Wie Listen können sie unterschiedliche Datentypen zusammen gruppieren. Der grosse Unterschied zu Listen ist jedoch, dass Tuples nicht veränderbar sind. 

### 2.1 Tuple-Definitionen

Wir definieren ein Tuple wie folgt:

In [79]:
beispiel_tuple = (1, 2, 3)
type(beispiel_tuple)

tuple

Wir können die runden Klammern auch weglassen:

In [81]:
beispiel_tuple = 1, 2, 3
beispiel_tuple

(1, 2, 3)

Wenn wir ein Tuple mit nur einem Element erzeugen wollen, müssen wir dies wie folgt tun:

In [83]:
ein_element = (1, )
ein_element

(1,)

Denn wenn wir das Komma weglassen, enthält die Variable einfach die Zahl selbst, nicht das Tuple:

In [84]:
ein_element = (1)
ein_element

1

Mit der Funktion `tuple` können wir andere Datentypen in Tuples umwandeln:

In [90]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [91]:
tuple("hallo")

('h', 'a', 'l', 'l', 'o')

In [92]:
tuple([1, 2, 3])

(1, 2, 3)

### 2.2 Indizierung
Die Indizierung funktioniert auch gleich wie bei Listen:

In [88]:
beispiel_tuple[2]

3

In [94]:
beispiel_tuple[:2]

(1, 2)

Doch wie erwähnt sind Tuples nicht veränderbar. Daher können wir für Tuples folgendes nicht tun:

In [93]:
beispiel_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

### 2.3 Funktionen, Operatoren und Methoden
`+`, `*` und `in` verhalten sich genau gleich wie bei Listen:

In [95]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [96]:
(1, 2, 3) * 2

(1, 2, 3, 1, 2, 3)

In [97]:
5 in (1, 2, 3)

False

Wir können auch mit `==` vergleichen. Wie bei Listen kommt es auf die Reihenfolge drauf an, Tuples sind **ordered**.

In [10]:
(1, 2, 3) == (3, 2, 1)

False

Genauso für die Funktionen `sum`, `max`, `min`, usw.

In [99]:
bsp = (1, 2, 3)
sum(bsp)

6

Und auch die Methoden `count` und `index` funktionieren gleich:

In [101]:
(1, 2, 3, 1, 2, 3).count(2)  # zählt, wie häufig 2 vorkommt

2

In [103]:
(1, 2, 3, 1, 2, 3).index(2)  # gibt den Index des ersten Eintrags mit Wert 2 zurück

1

Wir können durch Tuples in einem `for`-Loop iterieren:

In [104]:
beispiel_tuple = (1, 2, 3)
for element in beispiel_tuple:
    print(element)

1
2
3

Wir haben in diesem Kurs bereits durch tuples iteriert, als wir `for`-Loops kennengelernt haben:

In [2]:
for i in 0, 1, 2, 3, 4:  # 0, 1, 2, 3, 4 ist ein Tuple
    print(i)

0
1
2
3
4

### 2.4 In Funktionen Tuples zurückgeben und entpacken

Eine der wichtigsten Anwendungen von Tuples ist bei der Funktionsrückgabe: Und zwar, wenn wir in einer Funktion mehrere Resultate zurückgeben wollen. Wir können dies wie folgt tun:

In [5]:
def nach_namen_fragen():
    vorname = input("Wie ist dein Vorname?")
    nachname = input("Wie ist dein Nachname?")
    return vorname, nachname  # wir geben ein Tuple von mehreren Resultaten zurück

In [8]:
name = nach_namen_fragen()
name

('M', 'M')

Nun haben wir das Resultat als Tuple. Meist wollen wir aber für das Resultat in neuen, einzelnen Variablen abspeichern. Dazu können wir das Tuple "entpacken".

In [11]:
vorname, nachname = name
print(vorname)
print(nachname)

M
M

Das erste Element des Tuples wird in die erste neue Variable gespeichert, das zweite Element in die zweite neue Variable. Dadurch wird das Tuple "entpackt". Wir können dies auch direkt tun:

In [14]:
vorname, nachname = nach_namen_fragen()

print(vorname)
print(nachname)

Matthias
Minder

<div class="exercise">

<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

<span class="exercise_label">**Aufgabe:**</span>

Schreibe eine Funktion, welche zuerst nach dem Namen einer Person fragt, und anschliessend nach dem Alter. Die Funktion gibt dann Name und Alter als Tuple zurück. Rufe die Funktion auf, und speichere das Resultat in den Variablen «name» und «alter»

</div>

### 2.5 Entpacken mit "starred expressions"

Um Tuples so zu entpacken, müssen wir bereits im Voraus wissen, wie viele Elemente ein Tuple hat. Ansonsten gibt es folgenden Fehler:

In [15]:
# Fehlerhaftes Entpacken
a, b, c = (1, 2)

ValueError: not enough values to unpack (expected 3, got 2)

Wenn wir dies nicht wissen, können wir Tuples mit einer "starred expression" entpacken. Dies sieht wie folgt aus:

In [24]:
some_tuple = 1, 2, 3, 4, 5
a, *b = some_tuple

Das erste Element wurde nun in `a` gespeichert, alle anderen Elemente in `b` (und zwar als Liste). Diejenige Variable, welche alles andere enthalten soll, wird mit einem `*` gekennzeichnet. Sie wird als "starred expression" bezeichnet.

In [30]:
a

1

In [31]:
b

[2, 3, 4]

Die Variable mit `*`, welches die restlichen Elemente auffangen soll, kann am Anfang, in der Mitte oder am Ende sein:

In [32]:
*a, b = some_tuple
print("a:", a)
print("b:", b)

a: [1, 2, 3, 4]
b: 5

In [33]:
a, *b, c = some_tuple
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: [2, 3, 4]
c: 5

Wir können nur eine Variable mit `*` pro Zuweisung haben. Ansonsten ist das Verhalten nicht klar definiert, und wir erhalten einen Fehler:

In [34]:
*a, *b = some_tuple

SyntaxError: multiple starred expressions in assignment (1208965538.py, line 1)

<br><br><br>

<div class="exercise">

<img src="https://i.imgur.com/JyhBeDB.png" class="exercise_image" width=100>

<span class="exercise_label">**Aufgabe:**</span>
Für die nachfolgenden Tuple-Entpackungen, entscheide ob sie zulässig sind und was in die Variablen abgespeichert wird.

```python
beispiel = ("a", "b", "c", "d", "e")

a, b, c, d, e = beispiel
a, b, c, d = beispiel
*a, b = beispiel
a, *b, c = beispiel
*a, b, *c = beispiel

```

</div>

## 3. Dictionaries

Dictionaries sind veränderliche Objekte, welche wie ein Nachschlagewerk aufgebaut sind: Wir können einen Wert nachschlagen ("key"), und erhalten einen Wert zurück ("value"). 

### 3.1 Definition, Abfrage und Veränderung
Dictionaries haben type `dict` und werden wie folgt definiert:

In [1]:
alter = {"Anna": 41, "Marta": 23, "Adelheid": 102}

Dabei bezeichnen wir die Namen ("Anna", etc.) als "key", das angegebene Alter ist der "value". Wir können nun mit eckigen Klammern einen bestimmten Key nachschlagen, und erhalten den Value zurück:

In [2]:
alter["Anna"]

41

Wir können die Werte verändern:

In [4]:
alter["Anna"] = 42
alter["Anna"]

42

Wir können neue key-value Paare hinzufügen:

In [5]:
alter["Bettina"] = 53
alter["Bettina"]

53

Aber wenn wir keys abfragen, welche nicht im `dict` enthalten sind, erhalten wir einen `KeyError`:

In [6]:
alter["Fritz"]

KeyError: 'Fritz'

### 3.2 Was dürfen wir alles in einem `dict` speichern?

Als Value sind sämtliche Datentypen zulässig. Wir können zum Beispiel einen `dict` erstellen, welche für ein Rezept alle nötigen Zutaten als Liste speichert:

In [32]:
zutaten = {
    "Risotto": ["Salz", "Risottoreis", "Weisswein", "Parmesan"],
    "Kürbissuppe": ["Kürbis", "Bouillon", "Rahm", "Ingwer", "Currypulver"]
}

In [33]:
zutaten["Risotto"]

['Salz', 'Risottoreis', 'Weisswein', 'Parmesan']

Wir können diese Listen auch beliebig verändern:

In [34]:
zutaten["Risotto"].append("Safran")
zutaten

{'Risotto': ['Salz', 'Risottoreis', 'Weisswein', 'Parmesan', 'Safran'],
 'Kürbissuppe': ['Kürbis', 'Bouillon', 'Rahm', 'Ingwer', 'Currypulver']}

Bei den Keys haben wir allerdings eine Einschränkung: Diese dürfen nur Datentypen enthalten, welche nicht veränderbar sind. Wieso? Stellt euch vor, folgendes wäre zulässig:
```python
a = ["a"]
wrong_dict = {
    a: "b"            # dies gibt "im echten Leben" einen Fehler
}
```
Wenn wir nun den Key verändern, ist nicht mehr klar, was passieren sollte:
```python
a.append("b")
print(wrong_dict[["a"]])  # was sollte hier passieren? Unklar, daher ist dies nicht zulässig.
```
Um diese Unklarheit zu verhindern, erlaubt es Python nur, unveränderbare Elemente als Key zu verwenden. Sonst gibt es uns einen Fehler:

In [35]:
dictionary = {
    ["a"]: "b"
}

TypeError: unhashable type: 'list'

Der Fehler sagt uns, `list` sei "unhashable", und kann deswegen nicht als Key verwendet werden. Ob etwas "hashable" ist oder nicht hängt damit zusammen, ob ein Objekt veränderbar ist.

Wenn wir aber ein `dict` erstellen wollen, welche sowas wie eine Liste als Key verwenden, können wir Tuples verwenden. Diese sind nicht veränderbar und daher erlaubt:

In [38]:
dictionary = {
    ("a", "b"): 4,
    ("c", "d"): 8
}

# Abfrage
dictionary[("a", "b")]

4

### 3.3 Elemente löschen
Falls wir ein Element löschen wollen, können wir dies mit dem Stichwort `del` tun:

In [8]:
del alter["Bettina"]  # Löscht den Eintrag für Wert "Bettina"
alter["Bettina"]

KeyError: 'Bettina'

Wir können Elemente ebenfalls mit der Methode `pop` entfernen. Diese gibt den dazugehörige Wert noch ein letztes mal zurück, bevor er entfernt wird:

In [ ]:
alter["Bettina"] = 13            # wir fügen das Alter wieder hinzu
rueckgabe = alter.pop("Bettina")
print("Rückgabe:", rueckgabe)    # pop hat den Wert zurückgegeben
alter["Bettina"]                 # aber der Eintrag wurde durch pop entfernt

Mit der Methode `clear` löschen wir alle Elemente:

In [16]:
alter.clear()
alter  # der dict ist leer

{}

### 3.4 Operationen und Methoden von `dict`-Objekten
Wir können zwei `dict`-Objekte mit `==` vergleichen. Dabei wird überprüft, ob die zwei Dictionaries die gleichen key-value-Paare enthalten. Auf die Reihenfolge kommt es nicht an, Dictionaries sind **unordered**.

In [11]:
{"a": 1, "b": 2} == {"b": 2, "a": 1}

True

Wir können mit `in` überprüfen, ob ein bestimmter Key im Dictionary enthalten ist (auf den Value wird nicht geachtet):

In [12]:
"a" in {"a": 1, "b": 2}

True

In [13]:
"c" in {"a": 1, "b": 2}

False

Mit `update` können wir die Elemente eines zweiten Dictionaries dem Ersten hinzufügen:

In [17]:
dict1 = {1: "a", 2: "b"}
dict2 = {3: "c", 4: "d"}
dict1.update(dict2)

In [18]:
dict1

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

Mit `get` können wir einen Wert abfragen. Im Unterschied zur Abfrage mit den eckigen Klammern geben wir in einem zweiten Argument mit, was zurückgegeben werden soll, wenn der Key nicht enthalten ist.

In [20]:
dict1.get(5, "nicht enthalten")

'nicht enthalten'

Zum Vergleich: Dies würde mit den eckigen Klammern einen Key-Error verursachen:

In [21]:
dict1[5]

KeyError: 5

### 3.5 Über Dictionary iterieren
Wenn wir über einen Dictionary iterieren wollen, stellt sich die Frage, was wir erhalten wollen: Die Keys? Die Werte? Beides zusammen? Für diese drei Fälle gibt es unterschiedliche Methoden:

Mit `keys()` können wir über die Keys iterieren:

In [22]:
for key in dict1.keys():
    print(key)

1
2
3
4

Wir können uns auch direkt anschauen, was in den `keys` drin ist:

In [24]:
dict1.keys()

dict_keys([1, 2, 3, 4])

Mit `.values()` iterieren wir über die Werte:

In [25]:
for val in dict1.values():
    print(val)

a
b
c
d

Schliesslich können wir mit `.items()` über Key und Value gleichzeitig iterieren. Dabei wird bei jeder Iteration ein Tuple `(key, value)` zurückgegeben.

In [27]:
for k, v in dict1.items():
    print("Key:", k, "Value:", v)

Key: 1 Value: a
Key: 2 Value: b
Key: 3 Value: c
Key: 4 Value: d